    body{
  background-color:#BEAC9C;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.topdiv{
  display:flex;
  align-items: center;
  margin-top:20px;
}

.topdiv div{
  display:inline-block;
}

.appicon{
  width:20%;
  border-radius:20px;
  box-shadow:1px 1px 5px #909090;
  margin:0px 5px 0px 5%;
  float:left;
}

.appname{
  font-size:20px;
  padding-left:13px;
  margin:0px;
}

.appcredit{
  font-size:15px;
  color:#01875F;
  margin:0px 0px 0px 13px;
}

.apphorizontalinfo{
  width:100%;
  margin-top:25px;
}

.apphorizontalinfo2 p{
  float:left;
  width:33%;
}

.q{
  width:20%;
  background-color:#01875F;
  margin-left:44.5%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q2{
  width:25%;
  background-color:#0187FF;
  margin-left:42.5%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q3{
  width:30%;
  background-color:#9187fF;
  margin-left:40%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q4{
  width:35%;
  background-color:#f180fF;
  margin-left:38%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q5{
  width:40%;
  background-color:#f9175F;
  margin-left:36%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q6{
  width:45%;
  background-color:#f9575F;
  margin-left:34%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q7{
  width:50%;
  background-color:#f9995F;
  margin-left:32%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q8{
  width:55%;
  background-color:#f9999F;
  margin-left:30%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q9{
  width:60%;
  background-color:#99999F;
  margin-left:28%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.q10{
  width:65%;
  background-color:#ff119F;
  margin-left:26%;
  margin-right:70%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFFFF;
}

.divabouthisapp{
  align-items:center;
}

.paboutthisapp{
  float:left;
  width:70%;
  padding-left:5%;
  margin:0;
  font-weight:bold;
}

.aboutthisapparrow{
  padding-right:5%;
  font-weight:bold;
}

.w{
  width:90%;
  background-color:#93875F;
  margin-left:4%;
  margin-right:50%;
  border-radius:100px;
  padding:5px;
  border:none;
  font-weight:bold;
  margin-top:10px;
  color:#FFFF8F;
}